@import 'utils';

.header {
  height: 3.5rem;
  background-color: material-color('teal', '600');
  padding-left: 1rem;
  padding-right: 1rem;
  .response {
    @include repsonsive();
    display: flex;
    height: 100%;
    align-items: center;
  }
}